<mat-toolbar color="primary" class="mat-elevation-z4">
    <mat-toolbar-row>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            
            <mat-icon aria-label="Home icon">menu</mat-icon>

        </button>
        <mat-menu #menu="matMenu" color="accent">
            <button mat-menu-item>
                <mat-icon>loyalty</mat-icon>
                Manage Alignments</button>
            <button mat-menu-item>
                <mat-icon>handyman</mat-icon>
                Manage Classes</button>
            <button mat-menu-item>
                <mat-icon>import_export</mat-icon>
                Manage Sizes</button>
            <button mat-menu-item>
                <mat-icon>person_pin</mat-icon>
                Manage Races</button>
        </mat-menu>
       
        
        <span class="spacer"></span>
        <span>
             Character Management
        </span>
        <span class="spacer"></span>

    </mat-toolbar-row>
</mat-toolbar>
