<div class="mat-elevation-z4 ">

    <table mat-table [dataSource]="dataSource">
    
        <ng-container matColumnDef="name" sticky>
            <th mat-header-cell *matHeaderCellDef  class="name-row"> Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Gender </th>
            <td mat-cell *matCellDef="let element"> {{ element.gender ? 'Female' : 'Male' }} </td>
        </ng-container>

        <ng-container matColumnDef="playable">
            <th mat-header-cell *matHeaderCellDef> Playable </th>
            <td mat-cell *matCellDef="let element"> {{ element.playable ? 'Playable' : 'NPC' }} </td>
        </ng-container>

        <ng-container matColumnDef="attributes" class="attributes-row">
            <th mat-header-cell *matHeaderCellDef> Attributes </th>
            <td mat-cell *matCellDef="let element">
                
                <ng-container *ngFor="let attribute of element.attributes | keyvalue ">
                    <span>{{ attribute.key }}: {{ attribute.value }} </span>
                </ng-container>
            
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
